<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Nombre</key>
		<string>Pelo</string>
		<key>ImgURL</key>
		<string>http://datodehoy.com/wp-content/uploads/2015/03/Pelo.jpg</string>
		<key>Descripcion</key>
		<string>Es el pelo de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Nombre</key>
		<string>Frente</string>
		<key>ImgURL</key>
		<string>http://bodyphilosophyestetica.com/revista/wp-content/uploads/2012/11/Trucos-para-disimular-la-frente-ancha.jpg</string>
		<key>Descripcion</key>
		<string>Es la frente de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Nombre</key>
		<string>Oreja</string>
		<key>ImgURL</key>
		<string>http://curiosidades.batanga.com/sites/curiosidades.batanga.com/files/imagecache/completa/5-partes-del-cuerpo-que-la-ciencia-puede-reemplazar-4.jpg</string>
		<key>Descripcion</key>
		<string>Es la oreja de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>Nombre</key>
		<string>Nariz</string>
		<key>ImgURL</key>
		<string>http://www.medciencia.com/wp-content/uploads/2013/12/nariz.jpg</string>
		<key>Descripcion</key>
		<string>Es la nariz de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Nombre</key>
		<string>Ojo</string>
		<key>ImgURL</key>
		<string>http://noticias.starmedia.com/imagenes/2013/06/ojo-humano.jpg</string>
		<key>Descripcion</key>
		<string>Es el ojo de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Nombre</key>
		<string>Boca</string>
		<key>ImgURL</key>
		<string>http://www.simpecado.com/wp-content/uploads/2014/02/labios.jpg</string>
		<key>Descripcion</key>
		<string>Es la boca de la cabeza</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Nombre</key>
		<string>Cuello</string>
		<key>ImgURL</key>
		<string>http://www.kontrokultura.it/wp-content/uploads/2014/09/eliminare-rughe-dal-collo.jpg</string>
		<key>Descripcion</key>
		<string>Es el cuello del cuerpo</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Nombre</key>
		<string>Hombro</string>
		<key>ImgURL</key>
		<string>https://classconnection.s3.amazonaws.com/927/flashcards/677927/jpg/shoulder1330622500926.jpg</string>
		<key>Descripcion</key>
		<string>Es el hombro del cuerpo</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>Nombre</key>
		<string>Codo</string>
		<key>ImgURL</key>
		<string>http://siemprehermosas.com/wp-content/uploads/2014/04/codos.jpg</string>
		<key>Descripcion</key>
		<string>Es el codo del cuerpo</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>Nombre</key>
		<string>Mano</string>
		<key>ImgURL</key>
		<string>http://www.noticiasggl.com/wp-content/uploads/2014/05/manos.jpg</string>
		<key>Descripcion</key>
		<string>Es la mano del brazo</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>11</integer>
		<key>Nombre</key>
		<string>Rodilla</string>
		<key>ImgURL</key>
		<string>http://energiaysalud.org/wp-content/uploads/2015/01/rodilla1.jpg</string>
		<key>Descripcion</key>
		<string>Es la rodilla de la pierna</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>12</integer>
		<key>Nombre</key>
		<string>Pie</string>
		<key>ImgURL</key>
		<string>http://www.consejosdetufarmaceutico.com/wp-content/uploads/2014/09/pies-1.jpg</string>
		<key>Descripcion</key>
		<string>Es el pie de la pierna</string>
		<key>IDCategoria</key>
		<string>1</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>13</integer>
		<key>Nombre</key>
		<string>Perro</string>
		<key>ImgURL</key>
		<string>http://s01.s3c.es/imag/_v0/655x370/e/d/e/Como-Mantener-a-Mi-Perro-Fresco-en-Verano.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal perro</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>14</integer>
		<key>Nombre</key>
		<string>Gato</string>
		<key>ImgURL</key>
		<string>http://st-listas.20minutos.es/images/2014-02/377888/4359469_640px.jpg?1398394299</string>
		<key>Descripcion</key>
		<string>Es el animal gato</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>15</integer>
		<key>Nombre</key>
		<string>Puerco</string>
		<key>ImgURL</key>
		<string>http://www.miambiente.com.mx/wp-content/puerco2.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal puerco</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>16</integer>
		<key>Nombre</key>
		<string>Caballo</string>
		<key>ImgURL</key>
		<string>http://www.vientoyagua.cl/caballo.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal caballo</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>17</integer>
		<key>Nombre</key>
		<string>Gallina</string>
		<key>ImgURL</key>
		<string>http://diccionarioimagenes.com/wp-content/uploads/2014/05/gallina.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal gallina</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>18</integer>
		<key>Nombre</key>
		<string>Delfin</string>
		<key>ImgURL</key>
		<string>http://www.tapetus.pl/obrazki/n/88920_skok-delfin-woda.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal delfin</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>19</integer>
		<key>Nombre</key>
		<string>Vaca</string>
		<key>ImgURL</key>
		<string>https://quitamelacorrea.files.wordpress.com/2012/03/vaca21.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal vaca</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>20</integer>
		<key>Nombre</key>
		<string>Oveja</string>
		<key>ImgURL</key>
		<string>http://www.tecasrl.com/images/oveja.gif</string>
		<key>Descripcion</key>
		<string>Es el animal oveja</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
	<dict>
		<key>ID</key>
		<integer>21</integer>
		<key>Nombre</key>
		<string>Pato</string>
		<key>ImgURL</key>
		<string>http://www.regmurcia.com/servlet/integra.servlets.Imagenes?METHOD=VERIMAGEN_101949&amp;nombre=Pato_de_granja_[Pato]_res_720.jpg</string>
		<key>Descripcion</key>
		<string>Es el animal pato</string>
		<key>IDCategoria</key>
		<string>2</string>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
		<key>ImgData</key>
		<data></data>
	</dict>
</array>
</plist>
