<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Nombre</key>
		<string>Pelo</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el pelo de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Nombre</key>
		<string>Frente</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la frente de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Nombre</key>
		<string>Oreja</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la oreja de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>Nombre</key>
		<string>Nariz</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la nariz de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Nombre</key>
		<string>Ojo</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el ojo de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Nombre</key>
		<string>Boca</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la boca de la cabeza</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Nombre</key>
		<string>Cuello</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el cuello del cuerpo</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Nombre</key>
		<string>Hombro</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el hombro del cuerpo</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>Nombre</key>
		<string>Codo</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el codo del cuerpo</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>Nombre</key>
		<string>Mano</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la mano del brazo</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>11</integer>
		<key>Nombre</key>
		<string>Rodilla</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es la rodilla de la pierna</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>12</integer>
		<key>Nombre</key>
		<string>Pie</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el pie de la pierna</string>
		<key>IDCategoria</key>
		<integer>1</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>13</integer>
		<key>Nombre</key>
		<string>Perro</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal perro</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>14</integer>
		<key>Nombre</key>
		<string>Gato</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal gato</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>15</integer>
		<key>Nombre</key>
		<string>Puerco</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal puerco</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>16</integer>
		<key>Nombre</key>
		<string>Caballo</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal caballo</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>17</integer>
		<key>Nombre</key>
		<string>Gallina</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal gallina</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>18</integer>
		<key>Nombre</key>
		<string>Delfin</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal delfin</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>19</integer>
		<key>Nombre</key>
		<string>Vaca</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal vaca</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>20</integer>
		<key>Nombre</key>
		<string>Oveja</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal oveja</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>21</integer>
		<key>Nombre</key>
		<string>Pato</string>
		<key>ImgURL</key>
		<string></string>
		<key>Descripcion</key>
		<string>Es el animal pato</string>
		<key>IDCategoria</key>
		<integer>2</integer>
		<key>Aciertos</key>
		<integer>0</integer>
		<key>Fallas</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
